<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Thông tin bảo hành</title>
</head>
<body>

<h1>THÔNG TIN BẢO HÀNH</h1>

<p><b>Serial:</b> {{serial}}</p>
<p><b>Công ty khách hàng:</b> {{company}}</p>
<p><b>Số điện thoại:</b> {{phone}}</p>
<p><b>Người nhận:</b> {{receiver}}</p>
<p><b>Ngày kích hoạt:</b> {{start}}</p>
<p><b>Ngày hết hạn:</b> {{end}}</p>
<p><b>Trạng thái:</b> {{status}}</p>

<hr>
<p>Liên hệ LIN KA: (028) 6682 8478 – info@linka.com.vn</p>

</body>
</html>
